@font-face {
  font-family: 'Lato 700';
  src: url('../../assets/fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato 600';
  src: url('../../assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato 300';
  src: url('../../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
}