<div class="header-Container">
  <div
    class="side-bar-container"
    (blur)="toggleOpenNav()"
    tabindex="1"
    #sideBar
  >
    <mat-icon
      class="menu-icon"
      (click)="toggleOpenNav()"
      fontIcon="menu"
    ></mat-icon>

    <h2 class="page-name">{{ pageName }}</h2>

    @if (openNav) {
    <div class="side-bar">
      @for (page of pages; track $index) {
      <a
        class="page-link"
        [routerLink]="page.route"
        (mousedown)="$event.preventDefault()"
      >
        <mat-icon>{{ page.icon }}</mat-icon>
        {{ page.name }}
      </a>
      }
    </div>
    }
  </div>

  <div class="login-container">
    @if (!userIsAuthenticated) {
    <a class="app-button" routerLink="/login">Login</a>
    }
  </div>
</div>
