<mat-dialog-content class="custom-modal">
  <p class="modal-header">{{ data.header }}</p>
  <p class="modal-message">{{ data.message }}</p>

  <div class="buttons-container">
    @if (data.confirmButton) {
    <button
      class="app-button"
      mat-dialog-close
      (click)="data.confirmButton.action()"
    >
      {{ data.confirmButton.text || "Confirm" }}
    </button>

    } @if (data.cancelButton) {
    <button
      class="app-button revert-colors"
      mat-dialog-close
      (click)="onCancel()"
    >
      {{ data.cancelButton.text || "Close" }}
    </button>
    }
  </div>
</mat-dialog-content>
