.login-form {
  -webkit-filter: blur(8px);
  border: 1px solid #000;
  display: flex;
  filter: blur(8px);
  flex-direction: column;
  height: 260px;
  margin-right: calc(75% - 350px);
  padding: 20px;
  width: 350px;
}