<div class="signup-page">
  <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <div>
      <label class="" for="firstName">First Name</label>
      <input id="firstName" type="text" formControlName="firstName" />
      <p class="error-text" *ngIf="formErrors['firstName']">{{ formErrors['firstName'] }}</p>
    </div>

    <div>
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" formControlName="lastName" />
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" type="text" formControlName="email" />
      <p class="error-text" *ngIf="formErrors['email']">{{ formErrors['email'] }}</p>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
      <p class="error-text" *ngIf="formErrors['password']">{{ formErrors['password'] }}</p>
    </div>

    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword"/>
      <p class="error-text" *ngIf="formErrors['confirmPassword']">{{ formErrors['confirmPassword'] }}</p>
    </div>

    <input type="submit" />
  </form>
</div>
