<div class="page auth-page">
  <div class="blurry-background"></div>

  <form class="auth-form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <p class="auth-header">WELCOME</p>

    <input
      class="auth-input"
      placeholder="First name"
      type="text"
      formControlName="firstName"
    />
    @if (formErrors['firstName']) {
    <p class="error-text">
      {{ formErrors["firstName"] }}
    </p>
    }

    <input
      class="auth-input"
      placeholder="Last name"
      type="text"
      formControlName="lastName"
    />

    <input
      class="auth-input"
      placeholder="Email"
      type="text"
      formControlName="email"
    />
    @if (formErrors['email']) {
    <p class="error-text">
      {{ formErrors["email"] }}
    </p>
    }

    <input
      class="auth-input"
      placeholder="Password"
      type="password"
      formControlName="password"
    />
    @if (formErrors['password']) {
    <p class="error-text">
      {{ formErrors["password"] }}
    </p>
    }

    <input
      class="auth-input"
      placeholder="Confirm password"
      type="password"
      formControlName="confirmPassword"
    />
    @if (formErrors['confirmPassword']) {
    <p class="error-text">
      {{ formErrors["confirmPassword"] }}
    </p>
    }

    <input class="app-button revert-colors auth-input" type="submit" />
  </form>

  <div class="auth-form new-account">
    <a routerLink="/login" class="new-account-link">Already have an account?</a>
  </div>
</div>
