@import '_reset';
@import 'app/styles/_variables';

@font-face {
  font-family: 'Lato 700';
  src: url('assets/fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato 600';
  src: url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato 300';
  src: url('assets/fonts/Lato/Lato-Light.ttf') format('truetype');
}

.page {
  background-repeat: no-repeat;
}

.page-banner {
  background-image: url('assets/images/bannerbig_Desktop\ 1.png');
  background-position: right top;
  background-size: auto 580px;
  min-height: 580px;
  padding-left: 285px;
  padding-top: 138px;
}

.page-body {
  background-image: url('assets/images/Illustration\ desktop.png');
  background-size: 400px 400px;
  background-position: 370px top;
  min-height: 400px;
  margin-bottom: 48px;
  padding-left: 50%;
  margin-top: 40px;
}

.app-button {
  background: $white;
  border-radius: 40px;
  border: 1px solid $orange;
  box-shadow: 0px 4px 4px 0px $transparent-black;
  color: $orange;
  cursor: pointer;
  font-family: 'Lato 700';
  height: 50px;
  width: 100px;

  &.revert-colors {
    background-color: $orange;
    color: $white;
  }
}

@media screen and (max-width: $laptop-large-breakpoint) {
  .page-banner {
    padding-left: 65px;
  }

  .page-body {
    background-position: 87px top;
  }
}

@media screen and (max-width: $laptop-breakpoint) {
  .page {
    background-repeat: no-repeat;
  }

  .page-banner {
    background-image: url('assets/images/bannertablet_tablet\ 1.png');
    background-position: center top;
  }

  .page-body {
    background-image: url('assets/images/Illustration\ tablet.png');
    background-size: 400px 400px;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .page {
    background-position: center top;
    background-repeat: no-repeat;
    padding: 19px 16px 48px;
  }

  .page-banner {
    background-image: url('assets/images/bannerNew_Mobile\ 1.png');
    background-size: auto 640px;
  }

  .page-body {
    background-image: url('assets/images/Illustration\ Mobile.png');
    background-size: 200px 200px;
  }
}